<form class="form-horizontal">
    <h3>{{ _('Folders') }}</h3>

    <div class="control-group">
        <label class="control-label" for="settings-folderUploads">{{ _('Picture Target Folder') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: picture_folder_uploads" id="settings-picturefolderUploads">
        </div>
    </div>
</form>
