<form class="form-horizontal">
    <h3>{{ _('Folders') }}</h3>

    <div class="control-group">
        <label class="control-label" for="settings-folderUploads">{{ _('Picture Target Folder') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCamDox.target_folder" id="settings-target-folder">
        </div>
    </div>
    <h3>{{ _('Program constants') }}</h3>
    <div class="control-group">
        <label class="control-label" for="settings-width">{{ _('Picture width: ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCamDox.picture_width" id="settings-picture-width">
        </div>
        <label class="control-label" for="settings-height">{{ _('Picture height: ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCamDox.picture_height" id="settings-picture-height">
        </div>
        <div class="layer-buttons btn-group-toolbar row-fluid">
            <button type="button" class="btn btn-primary btn-medium span6" data-bind = "click: getImageRes">
                <span>{{ _('Get picture resolution') }}</span>
            </button>
        </div>
    </div>
</form>
